<div class="container main-background">
    <div id="user-name">
        <h1>Talia Granzow</h1>
    </div>
    <div id="admin-pic">
        <%= image_tag "t.jpg", alt: "profile image", class: 'profile-img img-circle' %>
    </div>
    <div class="welcome">
        <h1>Welcome!</h1>
        <p>Here you will find examples of my Front-End Web Development including clones of the Google Homepage, the Pinterest Homepage, the Tesla Homepage, and a personal homepage of a wedding website. Stay tuned for more to come!</p>
        <p id="note">(Please note that these are only clones and are not meant to be full websites.)</p>
        <p>To work with me, please contact me <a href="https://tg-devcamp-portfolio.herokuapp.com/contact" >here</a>.</p>
    </div>

</div>
