<div class="container">
    <h1>Welcome!</h1>
    <p>This application will provide examples of my Front-End Web Development. Please take a look around and enjoy!</p>
    <p>To work with me, please contact me here</p>
</div>
