<div id="tesla-body">
    <header>
        <div id="t-nav">
            <ul>
                <span id="t-logo">
                    <a href="#"><%= image_tag("logo.png", :alt => "Tesla Image") %></a>
                </span>
                <span id="t-mid-nav">
                    <a class="t-top-nav-link" href="#">MODEL S</a>
                    <a class="t-top-nav-link" href="#">MODEL X</a>
                    <a class="t-top-nav-link" href="#">MODEL 3</a>
                    <a class="t-top-nav-link" href="#">ENERGY</a>
                </span>
                <span id="t-spacer-span"></span>
                <span id="t-nav-right">
                    <a class="t-top-nav-link" href="#">CHARGING</a>
                    <a class="t-top-nav-link" href="#">UPDATES</a>
                    <a class="t-top-nav-link" href="#">SUPPORT</a>
                    <a class="t-top-nav-link" href="#">FIND US</a>
                    <a class="t-top-nav-link" href="#">SHOPS</a>
                    <a class="t-top-nav-link" href="#">MY TESLA</a>
                </span>
            </ul>
        </div>
    </header>
    <div id="t-center">
        <div id="t-center-text">
            Longest Range. Active Safety.
            <br/>
            Quickest Production Car on Earth.
        </div>
        <div id="t-center-tabs">
            <span><a class="t-center-tab-btn" href="#">ORDER YOURS</a></span>
            <span><a class="t-center-tab-btn" href="#">NEW INVENTORY</a></span>
            <span><a class="t-center-tab-btn" href="#">TEST DRIVE</a></span>
        </div>
        <div id="t-center-newsletter">
            <a href="#">GET THE NEWSLETTER ▸</a>
        </div>
    </div>
    <footer class="t-footer">
        <ul>
            <a class="t-footer-btn" href="#">Tesla &copy; 2017</a>

            <a class="t-footer-btn" href="#">Privacy & Legal</a>
            <a class="t-footer-btn" href="#">Contact</a>
            <a class="t-footer-btn" href="#">Careers</a>
            <a class="t-footer-btn" href="#">Forums</a>
            <a class="t-footer-btn" href="#">Locations</a>
            <a href="#"><%= image_tag("flag.gif", :alt => "american flag") %></a>
        </ul>
    </footer>
</div>
