@import "bootstrap-sprockets";
@import "bootstrap";
@import "tesla.scss";
@import "google.scss";
@import "pinterest.scss";
@import "wedding.scss";
@font-face {
    font-family: "Oh Wonder Regular";
    src: url('/assets/Ohwonder-Regular.otf');
}
@font-face {
    font-family: "Oh Wonder Sans Regular";
    src: url('/assets/OhwonderSans-Regular.otf');
}
@font-face {
    font-family: "Oh Wonder Upright Regular";
    src: url('/assets/OhwonderUpright-Regular.otf');
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html, body {
     font-family: "Raleway", sans-serif;
     font-weight: 100;
     height: 100%;
     margin: 0;
 }

  a,
  a:focus,
  a:hover {
    color: black;
    font-size: 1em;
  }
  .navbar {
      margin-bottom: 0px;
  }

 .navbar-nav {
     padding: 10px;
     width: 100%;
     text-align: center;
     margin-bottom: 0px;
     max-height: 33px;
 }

 .home-navlinks{
     font-size: 1.4em;
     text-align: center;
     margin-right: 30px;
     color: black;
 }

 .nav-name {
     font-family: "Montserrat";
     font-weight: 100;
     font-size: 3em;
     width: 100%;
     vertical-align: middle;
     margin-left: 20px;
 }

.site-nav a:visited {
    color: grey;
    text-decoration: none;
}

.site-nav a:hover {
    color: #5D5D5D;
    text-decoration: none;
    background-color: #EBEBEB;
    overflow: hidden;
}


.main-background {
    min-height: 1000px;
    width: 100%;
    background: url(23.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#admin-pic  {
    text-align: center;
    margin-top: 20px;
}
.profile-img {
    border: solid #f8f8f8 10px;
}

#user-name {
    text-align: center;
    margin: 0 auto;
    padding: 0;
    max-width: 600px;

}

#user-name h1 {
    font-size: 90px;
    font-family: "Oh Wonder Regular";
    background-color: #f8f8f8;
    border-radius: 12px;
}

.welcome {
    text-align: center;
    background-color: #f8f8f8;
    max-width: 800px;
    margin: 0 auto;
    border-radius: 12px;
    padding: 12px;
}
.welcome h1 {
    font-family: "Oh Wonder Regular";
    font-size: 4em;
}

.welcome p {
    font-family: "Montserrat";
    font-size: 1.3em;
}

#note {
    font-style: italic;
}
